.header-container
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: black;
    color: white;
    gap: 50px;
    position: static;
}
.header-container a
{
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-right: 20px;
    font-weight: 500;
}
.adder{
    text-decoration: none;
    color: white;
}
.adder .active
{
    text-decoration: underline;
}
a :hover
{
    text-decoration: underline;
}